*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
  background-color: white;
}

body {
  margin: 0;
  background-color: black;
  color: black;
  padding: 1rem;
  color: black;
}